
.products{
    /* background: #20204C; */
    height: 80%;
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    border-radius: 3px;
    color: #8A76E5;
    display: flex;
    flex-direction: column;
    
    /* align-items: center;
    justify-content: center; */
    line-height: 1;
    /* background-color: white; */

  }
  .mainbg{
    background: #20204C;
  }
  .products h2{
      font-size: 30px;
      color: white;
      font-weight: bold;
     
  }
  
.wrapper {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    color: #444;
    width: 100%;
    height: 100%;
  }
  @keyframes ldio-qxoz6ggtm7 {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}


.ldio-qxoz6ggtm7 > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-qxoz6ggtm7 > div > div {
  animation: ldio-qxoz6ggtm7 1s linear infinite;
  position: absolute
}

.ldio-qxoz6ggtm7 > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid #c3996a;
  background: #dfb789
}
@keyframes ldio-zpn5mq3jl7-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-zpn5mq3jl7-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-zpn5mq3jl7 > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-zpn5mq3jl7 > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #c3996a;
  animation: ldio-zpn5mq3jl7-1 1s linear infinite;
  transform-origin: 60px 60px
}
.ldio-zpn5mq3jl7 > div:nth-child(2) div:nth-child(2) {
  animation: ldio-zpn5mq3jl7-2 1s linear infinite
}
.ldio-zpn5mq3jl7 > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-zpn5mq3jl7-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-zpn5mq3jl7 > div:nth-child(1) {
  display: block;
}
.ldio-zpn5mq3jl7 > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #db9e5a;
  animation: ldio-zpn5mq3jl7-3 1s linear infinite
}
.ldio-zpn5mq3jl7 > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-zpn5mq3jl7 > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-zpn5mq3jl7 > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-nsrlop50jco {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-zpn5mq3jl7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zpn5mq3jl7 div { box-sizing: content-box; }
.ldio-qxoz6ggtm7 > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: #c3996a;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-x0c0fr0asa8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-qxoz6ggtm7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qxoz6ggtm7 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 150%;

  }

  .a {
    grid-column: 1 / span 2;
    background-color: #FFA53C;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
    background-color: #DE3C2A;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
    background-color: #35B36C;
  }
  .d {
    grid-column: 2 ;
    grid-row: 2 ;
    background-color: #0D50AB;
  }





  @keyframes ldio-y20nqb6thtr {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-y20nqb6thtr > div {
  transform-origin: 100px 100px;
  animation: ldio-y20nqb6thtr 0.2s infinite linear;
}
.ldio-y20nqb6thtr > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background: #db9e5a;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-y20nqb6thtr > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldio-y20nqb6thtr > div div:nth-child(6) {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
}.ldio-y20nqb6thtr > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-y20nqb6thtr > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-y20nqb6thtr > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-axntyhr25qa {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-y20nqb6thtr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-y20nqb6thtr div { box-sizing: content-box; }











@keyframes ldio-kwdxooxxs {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-kwdxooxxs > div > div {
    position: absolute;
    border-radius: 50%;
  }
  .ldio-kwdxooxxs > div > div:nth-child(1) {
    top: 30px;
    left: 30px;
    width: 140px;
    height: 140px;
    background: #db9e5a;
  }
  .ldio-kwdxooxxs > div > div:nth-child(2) {
    top: 39.800000000000004px;
    left: 79px;
    width: 42px;
    height: 42px;
    background: #f8fdfd;
    animation: ldio-kwdxooxxs 1s linear infinite;
    transform-origin: 21px 60.199999999999996px;
  }
  .loadingio-spinner-disk-hiwucbb04rd {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-kwdxooxxs {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-kwdxooxxs div { box-sizing: content-box; }